

body {
  background-color: #000 !important;
}

canvas {
  /* width: 600px;
  height: 600px; */
  background-color: #fff;
  width: 100%;
  height: 100%;
  /* border: solid 1px #000; */
}

canvas.background-0 {
  background-color: #fff;
  border: solid 1px #16067f !important;
}

canvas.background-1 {
  background-color: #74C365; 
  border: solid 1px #4000ff !important;
}

canvas.background-2 {
  background-color: #a50021;
  border: solid 1px #5affde !important;
}

canvas.background-3 {
  background-color: #00274C;
  border: solid 1px #FFCB05 !important;
}

canvas.background-4 {
  background-color: #00274C;
  border: solid 1px #FFCB05 !important;
}


