@()

@main("Fibonacci") {


    <!-- this is where the client and server output will be shown/appended -->
    <div id="message-content" style="height:230px;overflow-y:auto !important;background-color:#fff;padding:1em;border-radius:10px;"></div>

    <form style="padding-top:1.5em;">
        <div class="form-group">
            <label for="message-input">Message:</label>
            <textarea id="message-input" class="form-control" ></textarea>
        </div>
    </form>
    <canvas id="can" ></canvas>
    <button id="send-button" type="button" class="btn btn-primary">Send</button>

}
